In [1]:
from pyspark import SparkConf,SparkContext
conf = SparkConf()
conf.set("spark.master","local[2]")
conf.set("spark.app.name","sparkapp")

sc = SparkContext(conf=conf)
sc

In [3]:
f1 = lambda x:x+x   #Lambda function

def f2(x):
    return x+x

In [5]:
f1(10)

20

In [6]:
l1 = [10,20,30,40,50]
r1 = range(1,100)
print(l1)
print(r1)

[10, 20, 30, 40, 50]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [7]:
def f3(coll):
    for i in coll:
        print(i+100)  #very is implemented by "for"

In [23]:
# map(lambda x:x+100,r1)  #every is implemnented by "map"  
print(map(lambda x,y:x-y,[1,2,3,4,5],[6,7,8,9,10]))
l2 = [1,2,3,4,5]
l3 = [4,5,6,7,8]

res = zip(l2,l3)
print(res)
map(lambda z:z[0]-z[1],res)

[-5, -5, -5, -5, -5]
[(1, 4), (2, 5), (3, 6), (4, 7), (5, 8)]

[-3, -3, -3, -3, -3]

In [26]:
l4 = [3,4,5,6,7]
print(l4[0])
t = (23,34,45)
print(t[1])

3
34

In [30]:
print(map(lambda x,y,a:x-y+a,[1,2,3,4,5],[6,7,8,9,10],[10,20,30,40,50]))

[5, 15, 25, 35, 45]

In [43]:
# city="Hyderabad"
# print(city)
# print(len(city))
# print(city[0])
# print(city[3:5])
# print(city[4:])
# print(city[-1:])  
# print(city[:-1])
# #city[8]

In [47]:
s = "Spark is a programming framework"
res1 = s.split(" ")
print(res1)
print(type(res1))

['Spark', 'is', 'a', 'programming', 'framework']
<type 'list'>

In [49]:
s2 = "hadoop is also a processing fraemwork"
map(lambda x:x.split(" "),[s,s2])

[['Spark', 'is', 'a', 'programming', 'framework'],
 ['hadoop', 'is', 'also', 'a', 'processing', 'fraemwork']]

In [60]:
from datetime import datetime,timedelta
today_date = datetime.today()
print(today_date)
print(type(today_date))

yes = today_date+timedelta(2)

print(yes)

2019-06-14 02:16:54.973627
<type 'datetime.datetime'>
2019-06-16 02:16:54.973627

In [65]:
#dataframes from pandas
import pandas 

df = pandas.DataFrame([(1,2),(3,4),(5,6)]) 
print(df)
print(type(df))

   0  1
0  1  2
1  3  4
2  5  6
<class 'pandas.core.frame.DataFrame'>