In [1]:
from pyspark import SparkConf,SparkContext

conf = SparkConf()
conf.set("spark.master","local[3]")
conf.set("spark.app.name","sparkapp")

sc = SparkContext(conf=conf)
sc

In [2]:
from pyspark.sql import SQLContext
sqlc = SQLContext(sc)
sqlc

In [77]:
df1 = sqlc.read.format("csv").option("header","True").option("inferschema","True").load("/home/ubuntu/Datasets/cancerdata.csv")
# print(df1.count())
df2 = df1.na.drop()
# print(df2.count())
print(df2.show(5))
df2.registerTempTable("table1")

from pyspark.sql.functions import col,column,lit,when,current_date,current_timestamp
# df2.withColumn("newc",lit("spark")).show(10)
# df2.withColumn("newc",lit("spark")).printSchema()
# sqlc.sql("alter table table1 add column (newc int)").sqlc.sql("update table1 set newc=1").show(10)
# df2.select("Sex").distinct().show()
df3 = df2.withColumn("Gender_Flag",when(col("Sex")=="M",1).otherwise(0))
# df3.where("Gender_Flag=0 ").show()

#IF age <=40 -->young, age>40 and <=50 -->middle , >50 -->old
df4 = df2.withColumn("AgeGroup",when(col("Age")<=40,"Young").when((col("Age")>40) & (col("Age")<=50),"Middle").\
                     otherwise("Old"))
# df4.show(10)
# df2.withColumn("NewAge",col("Age")-10).show(10)
# df2.withColumn("salutation", when(col("Sex")=="M","Mr.").otherwise("Ms.")).show(10)
#  withColumn("NameNew",col("salutation")+col("Name")).show(10)
# df2.withColumnRenamed("Sex","Gender").show(5)
# df2.printSchema()
# df2.withColumn("ID",col("ID").cast("float")).printSchema()

# df2.drop("Name","Age").show(5)

from pyspark.sql import Row
r1 = Row(ID=1,Name="sparkuser",Age=40,Sex="M",Symptoms="blank",Diagnosis="blank",Cacner="blank",CancerSc="blank",Stage=3,Treatment="blank",Survival="No",State="Alaska")
r2 = Row(ID=2,Name="sparkuser",Age=40,Sex="M",Symptoms="blank",Diagnosis="blank",Cacner="blank",CancerSc="blank",Stage=3,Treatment="blank",Survival="No",State="Alaska")

newdf = sqlc.createDataFrame([r1,r2])
# newdf.printSchema()
#f we want to add a new row/rows , create a new df with the rows and merge with the other dataframe
# finaldf = df2.unionAll(newdf)
# finaldf.count()
# finaldf.where("Treatment='blank'").show()

from datetime import datetime,date

r3 = Row(Id=1,date=datetime(2019,12,12,23,34,45),score=2.3)
r4 = Row(score=3.4,Id=2,date=datetime(2018,1,3))

df_1 = sqlc.createDataFrame([r3,r4])
df_1.show()
df_1.printSchema()
df_1.withColumn("today_date",current_timestamp()).show()

+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|    ID| Name|Age|Sex|     State|         Symptoms|Diagnosis|   Cancer|CancerSc|Stage|Treatment|Survival|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
|100001|David| 45|  M|   ALAMAMA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    1|RESECTION|     YES|
|100002| John| 56|  M|    ALASKA|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    2|  SURGERY|     YES|
|100003| Paul| 65|  M|   ARIZONA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    3|RESECTION|      NO|
|100004| Mark| 35|  M|  ARKANSAS|      BLOOD COUGH| PET SCAN|MALIGNANT|THORACIC|    3|  SURGERY|      NO|
|100005|James| 44|  M|CALIFORNIA|RED ITCHY PATCHES|   BIOPSY|MALIGNANT|    SKIN|    2|RESECTION|     YES|
+------+-----+---+---+----------+-----------------+---------+---------+--------+-----+---------+--------+
only showing top 5 rows

None
+---+-------------------+-----+
| Id|               date|score|
+---+-------------------+-----+
|  1|2019-12-12 23:34:45|  2.3|
|  2|2018-01-03 00:00:00|  3.4|
+---+-------------------+-----+

root
 |-- Id: long (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- score: double (nullable = true)

+---+-------------------+-----+--------------------+
| Id|               date|score|          today_date|
+---+-------------------+-----+--------------------+
|  1|2019-12-12 23:34:45|  2.3|2019-06-21 02:24:...|
|  2|2018-01-03 00:00:00|  3.4|2019-06-21 02:24:...|
+---+-------------------+-----+--------------------+