In [1]:
from pyspark import SparkConf,SparkContext
from pyspark.sql import SQLContext
conf = SparkConf()
conf.set("spark.master","local")
conf.set("spark.app.name","sparkapp")
sc = SparkContext(conf=conf)
sqlc = SQLContext(sc)
sqlc

In [8]:
from pyspark.sql import Row
r1 = Row(id=101,address={"street":"Nehru street","Hno":"4023/45","city":"Hyderbad","PIN":500006},marks=[78,67,45,90],Name="Vijay")
r2 = Row(Name="Priya",address={"Hno":"2-3-45","city":"Bangalore","PIN":600003},marks=[90,67,80,70],id=102)

df1 = sqlc.createDataFrame([r1,r2])
df1.show()
df1.printSchema()
# df1.selectExpr("id","Name","address.city","address.PIN").show()
# df1.selectExpr("id","Name","marks[0]").show()

+-----+--------------------+---+----------------+
| Name|             address| id|           marks|
+-----+--------------------+---+----------------+
|Vijay|[Hno -> 4023/45, ...|101|[78, 67, 45, 90]|
|Priya|[Hno -> 2-3-45, P...|102|[90, 67, 80, 70]|
+-----+--------------------+---+----------------+

root
 |-- Name: string (nullable = true)
 |-- address: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- id: long (nullable = true)
 |-- marks: array (nullable = true)
 |    |-- element: long (containsNull = true)

+---+-----+---------+------+
| id| Name|     city|   PIN|
+---+-----+---------+------+
|101|Vijay| Hyderbad|500006|
|102|Priya|Bangalore|600003|
+---+-----+---------+------+

In [12]:
d = {"name":"karna","age":35,"score":2.5}
print(type(d))

<type 'dict'>

In [13]:
df1.schema

StructType(List(StructField(Name,StringType,true),StructField(address,MapType(StringType,StringType,true),true),StructField(id,LongType,true),StructField(marks,ArrayType(LongType,true),true)))

In [18]:
from pyspark.sql.functions import *
df2 = df1.select("id","marks")
df3 = df2.select("id",explode("marks"))
df3.show()

+---+---+
| id|col|
+---+---+
|101| 78|
|101| 67|
|101| 45|
|101| 90|
|102| 90|
|102| 67|
|102| 80|
|102| 70|
+---+---+

In [22]:
sqlc.sql("show functions").count()

267

In [31]:
rd1 = df1.rdd  # CREATION OF RDD OUT OF DATAFRAME 
print(rd1.collect())
rd3 = sc.parallelize([(1,2),(2,3),(3,4)])
print(rd3.collect())
rd3.toDF(["id1","id2"]).show() # CREATEION OF DF OUT OF RDD
rd1.toDF().show()

[Row(Name=u'Vijay', address={u'city': u'Hyderbad', u'street': u'Nehru street', u'PIN': u'500006', u'Hno': u'4023/45'}, id=101, marks=[78, 67, 45, 90]), Row(Name=u'Priya', address={u'city': u'Bangalore', u'PIN': u'600003', u'Hno': u'2-3-45'}, id=102, marks=[90, 67, 80, 70])]
[(1, 2), (2, 3), (3, 4)]
+---+---+
|id1|id2|
+---+---+
|  1|  2|
|  2|  3|
|  3|  4|
+---+---+

+-----+--------------------+---+----------------+
| Name|             address| id|           marks|
+-----+--------------------+---+----------------+
|Vijay|[Hno -> 4023/45, ...|101|[78, 67, 45, 90]|
|Priya|[Hno -> 2-3-45, P...|102|[90, 67, 80, 70]|
+-----+--------------------+---+----------------+

In [25]:
rd2 = sc.parallelize([1,2,3,4,5])
rd2.collect()

[1, 2, 3, 4, 5]

In [35]:
import subprocess
res = subprocess.check_output(["head","-2","/home/ubuntu/Datasets/ad-events_2014-01-20_00_domU-12-31-39-01-A1-34"])
print(res)

Mon Jan 20 00:00:00 -0800 2014, {"cl":"js","ua":"Mozilla/5.0 (Windows NT 6.1; rv:26.0) Gecko/20100101 Firefox/26.0","ip":"50.46.171.77","cc":"US","rg":"WA","ct":"Everett","pc":"98208","mc":819,"bf":"cd21df8fdaa6eee6b8af906ab1345fe6ce797ad1","vst":"56941a03-b0bd-4f93-912c-f90ba0dc4159","lt":"Sun Jan 19 23:59:39 -0800 2014"}, {"v":"1.1","e":"block","et":"keyword","t":"10957643","u":"http://www.rantsports.com/clubhouse/wp-content/slideshow/2013/09/15-pictures-of-nfl-cheerleaders-who-should-put-on-more-clothes/medium/cheerleadersss-Kirby-Lee-USA-TODAY-Sports1.jpg","pu":"http://www.rantsports.com/clubhouse/2013/09/22/15-nfl-cheerleaders-who-should-put-on-more-clothes/?utm_medium=referral&utm_source=nRelate","bk":"nude","pv":"98580188-4abd-4a1e-ae98-6e21be2d2c5d"}
Mon Jan 20 00:00:00 -0800 2014, {"cl":"js","ua":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.77 Safari/537.36","ip":"38.69.50.179","cc":"US","rg":"IL","ct":"Chicago","pc":"60616","mc":602,"bf":"ec8498f87549a798e738fce5b312a791f1a4d683","vst":"761df6d3-8747-4939-b5f9-f2ecdb95b419","lt":"Mon Jan 20 02:00:00 -0600 2014"}, {"v":"1.1","e":"block","et":"keyword","t":"e0b5822c","u":"http://cdn01.cdnwp.celebuzz.com/wp-content/uploads/legacy/celebuzz/default/msg-127310264361-3.jpg","pu":"http://www.celebuzz.com/photos/miley-cyrus-10-most-inappropriate-moments/9-saying-she-d-do-10/","bk":"sex photos","pv":"8a529597-a4f0-45e8-9e7e-ef5ccb1aa169"}

In [39]:
jdf1 = sqlc.read.format("json").load("/home/ubuntu/sample.json")
jdf1.show()

+---+------------+--------+
|age|       marks|    name|
+---+------------+--------+
| 34|[23, 45, 56]|   kiran|
| 40|[50, 60, 70]|santhosh|
+---+------------+--------+