In [1]:
from pyspark.sql import SparkSession

sparkss = SparkSession.builder.master('local').appName("sessionapp").\
            config("hive.metastore.uris","thrift://ip-172-31-39-16.us-east-2.compute.internal:9083").\
            config("spark.sql.warehouse.dir","hdfs://ip-172-31-39-16.us-east-2.compute.internal:8020/user/hive/warehouse").\
            config("spark.jars.packages","mysql:mysql-connector-java:5.1.27").\
            enableHiveSupport().\
            getOrCreate()
sparkss

In [2]:
df2 = sparkss.createDataFrame([(2,3),(3,4)])
df2.show()
df2.registerTempTable("temp")
df2.write.saveAsTable("perm")

+---+---+
| _1| _2|
+---+---+
|  2|  3|
|  3|  4|
+---+---+

In [5]:
df3 = sparkss.read.table("sample")
df3.show()

+---+------+
| id|  name|
+---+------+
|  1|hadoop|
|  2| spark|
+---+------+

In [7]:
rdd = sparkss.sparkContext.textFile("hdfs://ip-172-31-39-16.us-east-2.compute.internal:8020/testdata")
rdd.collect()
# still sparkcontext is needed to craete RDDs

[u'sdgdsglsdg',
 u'dsgbdsgsd',
 u'gsndg',
 u'dsgnds',
 u'gnsdg',
 u'dsng',
 u'dsgk',
 u'']

In [9]:
# sc  = sparkss.sparkContext
# sc

In [11]:
ds = sparkss.range(1,10)
ds.show()
ds

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

DataFrame[id: bigint]

In [2]:
df1 = sparkss.read.format("jdbc").\
        option("driver","com.mysql.jdbc.Driver").\
        option("url","jdbc:mysql://sparkmysqlinstance.cxzqaozjc6i9.us-east-2.rds.amazonaws.com:3306/").\
        option('dbtable','sparkdatabase.Telecom_table').\
        option("user","sparkmysql").\
        option("password","Karna.3009").\
        load() 
df1.show(5)
# df1.printSchema()

+----------+------------+--------------------+-------------+--------------------+--------------------------+------------------------------+------------------+--------+------+-----------+----------+------+------------+--------------------+---------------------------+------------------+-------------+---------------+--------------------+-----------+-----------------+----------------------------+-------------------+------------------+--------------------+---------------------+-----------+-------------------+-------------+--------------+------------+--------------------+
|    MDN_NO| X_CAF_NUMBE|         CUST_S_NAME|DATE_OF_BIRTH|         FATHER_NAME|LOCAL_ADDRESS_OF_SBSCRIBER|PERMANENT_ADDRESS_OF_SBSCRIBER|ALTERNATE_PHONE_NO|EMAIL_ID|GENDER|NATIONALITY|PROFESSION|PAN_NO|      UID_NO|       PHOTO_ID_TYPE|ADDRESS_PROOF_DOCUMENT_TYPE|STATUS_OF_CUSTOMER|BUSINESS_TYPE|        IMSI_NO|MNP_SERVICE_PROVIDER|IMSI_CIRCLE|SIM_ACTIVATE_DATE|CURRENT_STATUS_OF_CONNECTION|MNP_PREVIOUS_CIRCLE|POINT_OF_SALE_CODE|  POINT_OF_SALE_NAME|POINT_OF_SALE_ADDRESS|TARIFF_PLAN|SCANNED_PHOTOGRAPHY|LICENSEE_NAME|LICENSEE_DESIG|PRODUCT_TYPE|             MY_TYPE|
+----------+------------+--------------------+-------------+--------------------+--------------------------+------------------------------+------------------+--------+------+-----------+----------+------+------------+--------------------+---------------------------+------------------+-------------+---------------+--------------------+-----------+-----------------+----------------------------+-------------------+------------------+--------------------+---------------------+-----------+-------------------+-------------+--------------+------------+--------------------+
|9533129480|701756768823|RAMESHGOUD THIPPA...|    10-JUN-83|BALRAJGOUDTHIPPAP...|      H NO 5 15 1!KOTHA...|          H NO 5 15 1!KOTHA...|              null|    null|     M|     INDIAN|  SALERIED|  null|NOTAVAILABLE|Election Commisio...|       876817527741!09-J...| Reliance Consumer|      PREPAID|405010048315011|                    |         AP|        09-JAN-15|                      ACTIVE|                   |          21492585|     RANDARI KIRANAM| MAIN ROADMEDAK!MA...|       null|                   | MR MAQSUD MD|           TSM|         GSM|             PREPAID|
|9533141885|700512869615|           SOMAIAH V|    01-JAN-72|          KANAKAIAHV|      HNO 1 11  MANPAHA...|                          !!!!|              null|    null|  null|     INDIAN|      null|  null|        null|Photo RationCard ...|                        !!!| Reliance Consumer|      PREPAID|405010037216676|                    |         AP|        26-MAY-12|                      ACTIVE|                   |             01225|                null|               !!! ! |       null|                   |         null|          null|         GSM|             PREPAID|
|7569701454|702383287771|             ABDUL S|    01-JAN-94|            JALEEL S|      00!SETTIGUNTA!CUD...|          00!SETTIGUNTA!CUD...|              null|    null|     M|     INDIAN|  SALERIED|  null|NOTAVAILABLE|Aadhar-UniqueID i...|       718605592787!16-J...| Reliance Consumer|      PREPAID|405010053020770|                    |         AP|        10-JUN-16|                      ACTIVE|                   |           7152288|     COMPUTER PARK-2| MAIN ROAD TIRUPAT...|       null|                   |  MR SEKHAR A|       OFFICER|         GSM|             PREPAID|
|9533678499|701687380634|         LOKESH VARR|    01-JAN-80|            PRAKASHP|      1 10 4 7 KUSHAIGU...|          1 10 4 7 KUSHAIGU...|              null|    null|     M|     INDIAN|  SALERIED|  null|NOTAVAILABLE|Election Commisio...|       YZK0264788!01-JAN...| Reliance Consumer|      PREPAID|405010048204294|                    |         AP|        22-JAN-15|                      ACTIVE|                   |          11457390|srinivasa general...| kachiguda!kachigu...|       null|                   |   MR S ASHOK|       OFFICER|         GSM|             PREPAID|
|9392694104|  7228582288|SATYAVATHI SARVAS...|    01-JUL-70|                null|      DNO89-17-46/2!MOR...|                          !!!!|        9392694104|    null|  null|     INDIAN|      null|  null|        null|        PHOTO ID!!!!|                        !!!| Reliance Consumer|      PREPAID|405011000145879|                    |         AP|        14-JUN-08|                      ACTIVE|                   |        8088300088|    M/STEJA AGENCIES| Lakshmi Varapupet...|       PPAD|                   |         null|          null|        CDMA|CDMA_UPGRADING_TO...|
+----------+------------+--------------------+-------------+--------------------+--------------------------+------------------------------+------------------+--------+------+-----------+----------+------+------------+--------------------+---------------------------+------------------+-------------+---------------+--------------------+-----------+-----------------+----------------------------+-------------------+------------------+--------------------+---------------------+-----------+-------------------+-------------+--------------+------------+--------------------+
only showing top 5 rows

In [3]:
df1.write.format("orc").save("/home/ubuntu/Telecomdata")
print("done")

done